// colors
$text-color: #ffffffff;
$main-color-dark: #03045eff;
$main-color: #023e8aff;
$secondary-color-dark: #0077b6ff;
$secondary-color: #0096c7ff;
$add-color-one: #00b4d8ff;
$add-color-two: #48cae4ff;
$add-color-three: #90e0efff;
$add-color-four: #ade8f4ff;
$add-color-five: #caf0f8ff;