// light-theme colors
$text: #ffffff;
$main-one: #03045e;
$main-two: #023e8a;
$secondary-one: #0077b6;
$secondary-two: #0096c7;
$add-one: #00b4d8;
$add-two: #48cae4;
$add-three: #90e0ef;
$add-four: #ade8f4;
$add-five: #caf0f8;
$accent: #FFFFFF;
$danger-one: #d20000;
$danger-two: #FF0000;

// dark-theme colors
$text-dark: #FFFFFF;
$main-one-dark: #000000;
$main-two-dark: #1F1F1F;
$secondary-one-dark: #2F2F2F;
$secondary-two-dark: #494949;
$add-one-dark: #666666;
$add-two-dark: #7C7C7C;
$add-three-dark: #8E8E8E;
$add-four-dark: #B1B1B1;
$accent-dark: #3FA80B;
$danger-one-dark: #dc2f02;
$danger-two-dark: #e85d04;