@import "./../utilities/master.scss";

@mixin buttonTemplate(
	$primary: $button-two,
	$secondary: $button-one
) {
	font-weight: 800;
	min-width: 7rem;
	padding: 0.8rem;
	background-color: $primary;
	color: $text;
	border: 0.2rem solid $secondary;
	border-radius: 0.75rem;
	transition-duration: 0.4s;
	:hover {
		background-color: $secondary;
	}
}

@mixin buttonTemplateDark(
	$primary: $button-two-dark,
	$secondary: $button-one-dark
) {
	font-weight: 800;
	min-width: 7rem;
	padding: 0.8rem;
	background-color: $primary;
	color: $text;
	border: 0.2rem solid $secondary;
	border-radius: 0.75rem;
	transition-duration: 0.4s;
	:hover {
		background-color: $secondary;
	}
}

.button-div {
	margin: 1rem;
}

// light theme
a.button {
	@include buttonTemplate($button-two, $button-one);
	padding: 0;
	margin: 0;
	border: none;
}

.button {
	@include buttonTemplate($button-two, $button-one);
}

a.button-danger {
	@include buttonTemplate($button-danger-two, $button-danger-one);
	padding: 0;
	margin: 0;
	border: none;
}

.button-danger {
	@include buttonTemplate($button-danger-two, $button-danger-one);
}

// dark theme
a.button-dark {
	@include buttonTemplateDark;
	padding: 0;
	margin: 0;
	border: none;
}

.button-dark {
	@include buttonTemplateDark;
}

a.button-danger-dark {
	@include buttonTemplateDark($button-danger-two-dark, $button-danger-one-dark);
	padding: 0;
	margin: 0;
	border: none;
}

.button-danger-dark {
	@include buttonTemplateDark($button-danger-two-dark, $button-danger-one-dark);
}