@import "./../utilities/master.scss";

$danger-color: rgb(255, 0, 0);
$danger-color-dark: rgb(210, 0, 0);

@mixin buttonTemplate(
	$primary: $secondary-color,
	$secondary: $secondary-color-dark
) {
	font-weight: 800;
	min-width: 7rem;
	padding: 0.8rem;
	background-color: $primary;
	color: $text-color;
	border: 0.2rem solid $secondary;
	border-radius: 0.75rem;
	transition-duration: 0.4s;
	:hover {
		background-color: $secondary;
	}
}

.button-div {
	margin: 1rem;
}

a.button {
	@include buttonTemplate;
	padding: 0;
	margin: 0;
	border: none;
}

.button {
	@include buttonTemplate;
}

a.button-danger {
	@include buttonTemplate($danger-color, $danger-color-dark);
	padding: 0;
	margin: 0;
	border: none;
}

.button-danger {
	@include buttonTemplate($danger-color, $danger-color-dark);
}