@import "./../utilities/master.scss";

@mixin buttonTemplate(
	$primary: $add-two,
	$secondary: $add-one
) {
	font-weight: 800;
	min-width: 7rem;
	padding: 0.8rem;
	background-color: $primary;
	color: $text;
	border: 0.2rem solid $secondary;
	border-radius: 0.75rem;
	transition-duration: 0.4s;
	:hover {
		background-color: $secondary;
	}
}

.button-div {
	margin: 1rem;
}

// light theme
a.button {
	@include buttonTemplate($add-two, $add-one);
	padding: 0;
	margin: 0;
	border: none;
}

.button {
	@include buttonTemplate($add-two, $add-one);
}

a.button-danger {
	@include buttonTemplate($danger-two, $danger-one);
	padding: 0;
	margin: 0;
	border: none;
}

.button-danger {
	@include buttonTemplate($danger-two, $danger-one);
}

// dark theme
a.button-dark {
	@include buttonTemplate($add-two-dark, $add-one-dark);
	padding: 0;
	margin: 0;
	border: none;
}

.button-dark {
	@include buttonTemplate($add-two-dark, $add-one-dark);
}

a.button-danger-dark {
	@include buttonTemplate($danger-two-dark, $danger-one-dark);
	padding: 0;
	margin: 0;
	border: none;
}

.button-danger-dark {
	@include buttonTemplate($danger-two-dark, $danger-one-dark);
}