@import "../utilities/master.scss";

@mixin screenTemplate() {
    background-color: $main-two;
    padding: 1rem;
    height: calc(100vh - 2rem - $win-height);
}

.screen {
    @include screenTemplate;
}